.container {
	margin: 3em auto;
	width: 600px;
}

.hidden {
	display: none;
}

.left {
	float: left;
}

.form-control {
    display: block;
    width: 85%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    float: right;
}

.btn-warning {
    color: #fff;
    background-color: #f27700;
    border-color: #eea236;
}

.stack-image {
	background: url('../images/stack-icon.png') no-repeat center center;
	width: 200px;
	height: 200px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-right: 1em;
	border-radius: 5px;
}

.intro {
	margin-bottom: 1em;
}

.stack {
	clear: both;
}

.inspiration { 
	margin-left: 3em;
}

.result {
	border: 1px solid #333333;
	padding: 8px;
	margin: 0 auto 1em auto;
	height: 164px;
}

.results {
	text-align: left;
	float: left;
	height: auto;
}

.error {
	color: #F78181;
	font-size: 14px;
	padding: 0.5em;
}
